.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, rgba(33,192,231,1) 0%, rgba(130,245,198,1) 50%, rgba(204,255,228,1) 100%);
  margin-top: 0;
  padding: 40px 20px
}

.page-header h1 {
  margin: 0;
  font-family: 'Lobster';
}

.page-header h1 a {
  color: white;
}

.page-header-add {
  font-size: 24px;
}

.content {
  padding: 20px;
}

.post {
  margin: 20px;
  padding: 20px;
  border: 2px solid #DDE1E4;
  border-radius: 10px
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-title, .post-title a {
  color: #52B2CF;
  font-family: 'Lobster';
}

.post-date {
  margin: 0;
  color: #676767;
}

.post-form-title {
  font-family: 'Lobster';
  margin: 10px 0 40px;
}